In [5]:
import pandas as pd
import numpy as np

In [16]:
# Ingest NYPD Arrest data
raw_df = pd.read_csv('./data/NYPD_Arrest_Data__Year_to_Date_2020.csv')

# Display Results
print('Number of rows: {}'.format(raw_df.shape[0]))
raw_df.head()

Number of rows: 74784

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,207907186,01/14/2020,49.0,U.S. CODE UNCLASSIFIED,995.0,FOR OTHER AUTHORITIES,FOA9000049,NaN,K,84,0,25-44,M,AMERICAN INDIAN/ALASKAN NATIVE,987042,193563,40.697970,-73.989933
1,212823662,05/08/2020,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,S,121,0,25-44,M,AMERICAN INDIAN/ALASKAN NATIVE,933479,155881,40.594396,-74.182815
2,212367624,04/25/2020,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,Q,101,0,25-44,M,AMERICAN INDIAN/ALASKAN NATIVE,1052288,156240,40.595266,-73.755010
3,212010449,04/14/2020,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,K,62,0,25-44,F,AMERICAN INDIAN/ALASKAN NATIVE,983951,157511,40.599016,-74.001078
4,214594759,06/25/2020,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,K,62,0,18-24,F,AMERICAN INDIAN/ALASKAN NATIVE,983380,162308,40.612183,-74.003135

In [24]:
# Create a copy of raw data for transformation
ny_crime_df = raw_df.copy()

# Exclude arrests with no offense description
ny_crime_df = ny_crime_df[~ny_crime_df['OFNS_DESC'].isnull()]

# Replace typos
ny_crime_df.replace('OTHER STATE LAWS (NON PENAL LA', 'OTHER STATE LAWS (NON PENAL LAW)', inplace=True)

In [26]:
set(ny_crime_df['ARREST_BORO'])

{'B', 'K', 'M', 'Q', 'S'}

In [28]:
# ny_crime_df.groupby('ARREST_BORO').count()
ny_crime_df['ARREST_BORO'].value_counts()

K    20016
M    18490
B    17153
Q    15837
S     3228
Name: ARREST_BORO, dtype: int64